src/main/mule/on-prem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad402d59-8243-4219-887e-4c2bf6efcec9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
		<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="82afa851-f108-43f4-9555-0f6c10c92099" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="on-premFlow" doc:id="0d68f957-9a33-46c9-95fb-982401a790f6" >
		<http:listener doc:name="Listener" doc:id="1f995c11-c7e5-4379-bbcc-d05dc2ceb0d5" config-ref="HTTP_Listener_config" path="/api/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="3eb60c94-4d83-4fb6-b450-440f9287bee9" config-ref="HTTP_Request_configuration" path="/{region}/{city}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
