src/main/mule/on-prem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad402d59-8243-4219-887e-4c2bf6efcec9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="on-premFlow" doc:id="0d68f957-9a33-46c9-95fb-982401a790f6" >
		<http:listener doc:name="Listener" doc:id="1f995c11-c7e5-4379-bbcc-d05dc2ceb0d5" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<set-payload value='#["Hello world"]' doc:name="Set Payload" doc:id="b41ab858-bae2-4285-994a-aa21979fd309" />
	</flow>
</mule>
